:root[data-theme="light"] {
  --body-foreground-color: #38383D;
  --body-background-color: #F9F9FA;
  --panel-background-color: #FFFFFF;
  --primary-border-color: #E0E0E2;
  --secondary-label-color: #737373;
  --tab-border-color--hover: #BEBEC0;
  --tab-background-color--hover: #EDEDF0;
  --tab-border-color--selected: #0A84FF;
  --tab-foreground-color--selected: #156CE0;
  --button-foreground-color: #0C0C0D;
  --button-foreground-color-inverse: #FFF;
  --button-background-color: #E6E6E6;
  --button-background-color--focus: #DADADA;
  --button-background-color--active: #CECECE;
  --link-color: #0060DF;
  --info-color: #0C8A00;
  --warning-color: #B930EB;
  --scrollbar-color: auto;
}

:root[data-theme="dark"] {
  --body-foreground-color: #B1B1B3;
  --body-background-color: #0C0C0D;
  --panel-background-color: #18181A;
  --primary-border-color: #38383D;
  --secondary-label-color: #737373;
  --tab-border-color--hover: #4F4F52;
  --tab-background-color--hover: #232327;
  --tab-border-color--selected: #0A84FF;
  --tab-foreground-color--selected: #FFFFFF;
  --button-foreground-color: #D7D7DB;
  --button-foreground-color-inverse: #000;
  --button-background-color: #4E4E51;
  --button-background-color--focus: #59595C;
  --button-background-color--active: #636367;
  --link-color: #75BFFF;
  --info-color: #86DD68;
  --warning-color: #E081FF;
  --scrollbar-color: #737373 #38383D;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Ubuntu, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  cursor: default;
  color: var(--body-foreground-color);
  background-color: var(--body-background-color);
  user-select: none;
  scrollbar-color: var(--scrollbar-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li:not(:last-of-type) {
  margin-bottom: 8px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

pre,
code {
  font-family: system-ui-monospaced, Menlo, 'Segoe UI Mono', Consolas, 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
}

[aria-hidden="true"] {
  display: none !important;
}

[role="toolbar"] {
  flex: none;
  display: flex;
  border-bottom: 1px solid var(--primary-border-color);
}

aria-tablist {
  display: flex;
}

aria-tab {
  display: flex;
  align-items: center;
  outline: 0;
  margin: 0 !important;
  border-top: 2px solid transparent;
  padding: 4px 12px;
  font-size: 12px;
  white-space: nowrap;
}

aria-tab:hover {
  border-top-color: var(--tab-border-color--hover);
  background-color: var(--tab-background-color--hover);
}

aria-tab[aria-selected="true"] {
  border-top-color: var(--tab-border-color--selected);
  color: var(--tab-foreground-color--selected);
}

aria-tab * {
  pointer-events: none;
}

aria-tabpanel {
  flex: auto;
  overflow: auto;
  outline: 0;
  margin: 0;
  background-color: var(--panel-background-color);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

a.button {
  display: inline-block;
  margin: 4px;
  border: 0;
  border-radius: 4px;
  padding: 4px 16px;
  box-shadow: none;
  color: var(--button-foreground-color);
  background-image: none;
  background-color: var(--button-background-color);
  font-size: inherit;
  white-space: nowrap;
  text-decoration: none;
}

a.button:hover,
a.button:focus {
  background-color: var(--button-background-color--focus);
}

a.button:active {
  background-color: var(--button-background-color--active);
}

.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper > div {
  margin: 32px;
}

.row {
  display: flex;
}

.row > * {
  flex: auto;
}

.under-development-note {
  line-height: 1.5;
  font-style: italic;
}

.under-development-note a {
  color: inherit;
  text-decoration: underline;
}

#checker-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#checker-results-wrapper {
  flex: auto;
}

#checker-results-wrapper h2 {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--primary-border-color);
  padding: 4px 8px;
  background-color: var(--tab-background-color--hover);
  font-size: 12px;
  font-weight: normal;
}

#checker-results-wrapper section:first-of-type h2 {
  border-top-width: 0;
}

#checker-results-wrapper ul.results {
  margin: 16px;
}

#checker-results-wrapper ul.results li {
  margin: 8px 0;
  line-height: 1.5;
}

#checker-wrapper > footer {
  flex: none;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--primary-border-color);
  padding: 16px;
  background-color: var(--tab-background-color--hover);
}

#checker-wrapper > footer > a.button {
  flex: none;
  display: block;
  margin-right: 16px;
}

@media (min-width: 1024px) {
  .text-wrapper > div {
    width: 768px;
  }
}
