@import 'base.css';

#news-panel .text-wrapper {
  text-align: center;
}

#news-panel .row > * {
  padding: 0 16px;
  overflow: auto;
}

#news-panel section {
  padding: 32px 16px;
}

#news-panel section:not(:first-child) {
  border-top: 1px solid var(--primary-border-color);
}

#news-panel h3 {
  font-size: 18px;
  font-weight: 500;
}

#news-panel h4 {
  margin: 4px 0 0;
  font-size: 12px;
  font-weight: normal;
}

#news-panel h5 {
  margin: 4px 0 0;
  color: var(--secondary-label-color);
  font-size: 12px;
  font-weight: normal;
}

#news-panel li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.5;
}

#news-panel li > :not(:last-child) {
  margin-right: 8px;
}

#news-panel .status {
  border-radius: 4px;
  padding: 1px 4px;
  color: var(--button-foreground-color-inverse);
  background-color: var(--warning-color);
  font-size: .8em;
  font-style: normal;
  vertical-align: .1em;
}

#news-panel .category {
  color: var(--secondary-label-color);
  font-size: 12px;
  white-space: nowrap;
}

#blog header {
  margin-bottom: 16px;
}

#blog p,
#blog ul,
#blog ol {
  margin: 8px 0;
  line-height: 1.5;
}

#blog li {
  margin: 4px 0 4px 16px;
  padding: 0 0 0 4px;
  list-style-type: initial;
}

#releases section {
  display: flex;
}

#releases header {
  flex: none;
}

#checker-tab small {
  display: inline-block;
  margin-left: 8px;
  border-radius: 4px;
  padding: 1px 4px;
  color: var(--button-foreground-color-inverse);
  background-color: var(--info-color);
  font-size: 9px;
  vertical-align: 2px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  #news-panel .row {
    flex-direction: row-reverse;
    overflow: hidden;
    height: 100%;
  }

  #releases header {
    width: 160px;
  }

  #blog {
    width: 40%;
    min-width: 400px;
    border-left: 1px solid var(--primary-border-color);
  }
}

@media (max-width: 1023px) {
  #news-panel .row {
    flex-direction: column;
  }

  #news-panel h3 small {
    display: inline-block;
    margin-left: 8px;
  }

  #releases section {
    flex-direction: column;
  }

  #releases header {
    margin: 0 0 16px;
  }

  #blog {
    border-bottom: 1px solid var(--primary-border-color);
  }
}
